# Dependencies
node_modules/

# Build
.next/
out/
dist/
build/
coverage/

# Env
.env
.env.local
.env.*.local

# Zadrži primjere
!.env.example
!*.example

# Logovi
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/